- metaTitle = metaTitle || SITE_NAME
- metaDesc = metaDesc || SITE.DESCRIPTION
- metaKeys = metaKeys || SITE.KEYWORDS

title #{metaTitle}
meta(name='description', content='#{metaDesc}')
meta(name='keywords', content='#{metaKeys}')
meta(property="og:title", content="#{metaTitle}")
meta(property="og:type", content="website")
meta(property="og:url", content="#{ogUrl}")
meta(property="og:description", content="#{metaDesc}")
meta(property="og:image", content="#{SITE.URL}#{ogp.img}")
meta(property="og:site_name", content="#{SITE_NAME}")
meta(property="og:locale", content="#{ogp.lang}")